In [1]:
import pandas as pd

In [2]:
salario = pd.read_csv("../NBA_csv/salario19_20.csv")

stats = pd.read_csv("../NBA_csv/Stats19_20.csv")

In [7]:
stats

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Player-additional
0,1,Steven Adams,C,26,OKC,63,63,1680,283,478,...,207,376,583,146,51,67,94,122,684,adamsst01
1,2,Bam Adebayo,PF,22,MIA,72,72,2417,440,790,...,176,559,735,368,82,93,204,182,1146,adebaba01
2,3,LaMarcus Aldridge,C,34,SAS,53,53,1754,391,793,...,103,289,392,129,36,87,74,128,1001,aldrila01
3,4,Kyle Alexander,C,23,MIA,2,0,13,1,2,...,2,1,3,0,0,0,1,1,2,alexaky01
4,5,Nickeil Alexander-Walker,SG,21,NOP,47,1,591,98,266,...,9,75,84,89,17,8,54,57,267,alexani01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
524,525,Trae Young,PG,21,ATL,60,60,2120,546,1249,...,32,223,255,560,65,8,289,104,1778,youngtr01
525,526,Cody Zeller,C,27,CHO,58,39,1341,251,479,...,160,251,411,88,40,25,75,140,642,zelleco01
526,527,Tyler Zeller,C,30,SAS,2,0,4,1,4,...,3,1,4,0,0,0,0,0,2,zellety01
527,528,Ante Žižić,C,23,CLE,22,0,221,41,72,...,18,48,66,6,7,5,10,27,96,zizican01
528,529,Ivica Zubac,C,22,LAC,72,70,1326,236,385,...,197,346,543,82,16,66,61,168,596,zubaciv01

In [8]:
salario.rename(columns = {"Jugador":"Player"}, inplace = True)

In [9]:
stats.drop(columns = ["Rk","Player-additional"], inplace =True)

In [10]:
stats.Pos.unique()
diccionario_posiciones = {
    'PG': 'BA',
    'SG': 'ES',
    'SF': 'AL',
    'PF': 'AP',
    'C': 'P',
    "PF-C":"P",
    'SG-PG':"ES",
    'SG-SF':"AL",
    'C-PF':"AP",
    'PG-SG':"BA",
    'SF-SG':"ES",
    'PF-SF':"AP",
    'SF-PF':"AP",
}
stats['Pos'] = stats['Pos'].map(diccionario_posiciones)

In [11]:
salario=salario[salario["Salario"]!= 0 ]
salario

                 Player   Salario
0         DeMar DeRozan  27739975
1     LaMarcus Aldridge  26000000
2              Rudy Gay  14000000
3           Patty Mills  12428571
4       DeMarre Carroll   6842307
..                  ...       ...
608      Carsen Edwards   1228026
609  Guerschon Yabusele   1039080
610       Javonte Green    898310
611           Max Strus    415414
612   Demetrius Jackson     92857

[562 rows x 2 columns]

In [12]:
statsALL20_21 =pd.merge(salario, stats, on='Player', how='inner')

In [13]:
statsALL20_21=statsALL20_21.dropna()

In [15]:
statsALL20_21.to_csv("statsALL19_20.csv", index= False)

In [14]:
statsALL20_21

,Player,Salario,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,DeMar DeRozan,27739975,AL,30,SAS,68,68,2316,557,1049,...,0.845,44,331,375,380,70,20,164,180,1504
1,LaMarcus Aldridge,26000000,P,34,SAS,53,53,1754,391,793,...,0.827,103,289,392,129,36,87,74,128,1001
2,Rudy Gay,14000000,AP,33,SAS,67,5,1461,266,596,...,0.882,61,301,362,114,35,33,88,103,726
3,Patty Mills,12428571,BA,31,SAS,66,1,1485,258,598,...,0.866,22,86,108,118,53,6,54,105,767
6,Marco Belinelli,5846154,ES,33,SAS,57,0,883,123,314,...,0.828,7,92,99,69,12,1,19,45,361
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
482,Semi Ojeleye,1618520,AP,25,BOS,69,6,1011,80,196,...,0.875,26,119,145,37,21,5,19,80,236
483,Brad Wanamaker,1355341,BA,30,BOS,71,1,1369,162,362,...,0.926,22,122,144,179,61,14,76,133,487
484,Carsen Edwards,1228026,ES,21,BOS,37,0,351,42,128,...,0.684,6,41,47,24,12,4,15,34,121
485,Javonte Green,898310,ES,26,BOS,48,2,468,63,126,...,0.667,24,69,93,26,24,8,23,43,163
486,Max Strus,415414,AL,23,CHI,2,0,6,2,3,...,1.000,1,0,1,0,0,0,0,1,5